

body {
	background: #53c972;
	margin: 50px
}

.btn {
	padding: 15px 20px;
	background: aqua;
	color: blueviolet;
}

.collection-chat-container {
	width: 1500px;
	height: 720px;
	background: cornflowerblue;
	margin: 50px;
	overflow: hidden;
	align-self: flex-end;
}

.collection-chat-main {
	display: flex;
}

.collection-messages {
	padding: 20px 40px;
	height: 600px;
	width: 500px;
	background: aliceblue;
	align-self: flex-start;
}

.collection-message-form {
	align-self: flex-end;
}
