

body {
	background: #53c972;
	margin: 10px;
	width: 80%;
}

* {
	box-sizing: border-box;
	width: 80%;
}

.btn {
	padding: 5px 5px;
	background: aqua;
	color: blueviolet;
}

.collection-chat-container {
	width: 80%;
	height: 80%;
	background: cornflowerblue;
	margin: 10px 10px;
	overflow: hidden;
	width: 80%;
	display: inline-block;
}


.collection-chat-main {
	width: 80%;
	display: inline-block;
}

.collection-messages {
	padding: 20px;
	margin: auto;
	height: 600px;
	width: 80%;
	background: aliceblue;
	overflow-y: scroll;
}

.collection-message-form {
	margin:auto;
	align-self: auto;
}
